*{
    box-sizing: border-box;
}


body{
    background: linear-gradient(to right, rgb(35, 7, 77), rgb(204, 83, 51));
    font-family: sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.remain{
    color: #fff;
    letter-spacing: 5px;
}

.container{
    display: flex;
    
}


.time{
    width: 200px;
    height: 200px;
    border: 6px dotted transparent;
    border-radius: 50%;
    margin: 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    position: relative;

    /* animation: rotate 1s; */
}


.time.active::before{
    content: '';
    width: 100%;
    height: 100%;
    /* background-color: red; */
    border-radius: 50%;
    border-left: 3px dotted white;

    position: absolute;
    top:0;
    left:0;

    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes rotate{
    0%{
        border-color: white;
        transform: rotate(0deg);
    }


    100%{
        border-color: red;
        transform: rotate(1turn);
    }
}





.time span{
    color: #fff;
    font-size: 50px;
    
}



.time h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;

}